:root {
    --main-bg-color: rgb(185 213 235 / 43%);
    --border-color: #6eb0c9;
}
body, html{
    font-family: system-ui;
    background: var(--main-bg-color);
    height: 100%;
    padding: 0;
    margin: 0;
}

body, .drop-zone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drop-zone {
    width: 500px;
    min-height: 250px;
    border: 2px dashed var(--border-color);
    margin: 30px;
    border-radius: 10px;
    transition: all .2s ease;
}

.dragged.drop-zone{
    background-color:  var(--main-bg-color);
    border-color: #2db2e3;
}

.upload-container{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow:  0px 10px 20px #acabab;
}

.icon-container{
    width:75px;
    height: 100px;
    position: relative;
}

.icon-container .left, .icon-container .right {
    filter: grayscale(50%);
}

.dragged .icon-container .right{
    transform: rotate(15deg) translateX(20px) scale(.9)
}

.dragged .icon-container .left{
    transform: rotate(-15deg) translateX(-20px) scale(.9)
}


.icon-container img{
  width: 75px;
  position: absolute;
  transform-origin: bottom; 
  transition: transform 250ms ease-in-out;
    /* transform-origin: bottom;  rotate image from bottom */
}

.dragged .icon-container .center{
    z-index: 2;
    transform: translateY(-5px)
}

#fileInput{
    display: none;
}

.browseBtn{
    color: var(--border-color);
    cursor: pointer;
}